{% load static %}
<!-- js para el uso de bootstrap5 desde cdn -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">

<!-- js para el uso de bootstrap5 desde local -->
<script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
<!-- <script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script> -->
<!-- <script src="{% static 'assets/js/sidebarmenu.js' %}"></script> -->
<script src="{% static 'assets/js/app.min.js' %}"></script>
<!-- <script src="{% static 'assets/libs/apexcharts/dist/apexcharts.min.js' %}"></script> -->
<script src="{% static 'assets/libs/simplebar/dist/simplebar.js' %}"></script>
<script src="{% static 'assets/js/dashboard.js' %}"></script>
<!-- js personalizado -->
<script src="{% static 'assets/js/empresa.js' %}"></script>
<script src="{% static 'assets/js/cartas.js' %}"></script>
<script src="{% static 'assets/js/modal.js' %}"></script>
<script src="{% static 'assets/js/alert_success.js' %}"></script>
<!-- <script src="{% static 'assets/js/sidebarmenu.js' %}"></script> -->
<!-- FullCalendar De forma local  -->
<script src="{% static 'assets/js/fullcalendar/dist/index.global.min.js' %}"></script>
