{% extends 'layout/base.html' %}
{% load static %}

{% block title %}Modificar Grupo{% endblock title %}
{% block stylesheets %}
<style>
    /* Estilos para pantallas pequeñas (por ejemplo, móviles) */
@media (max-width: 768px) {
  #id_permissions_to {
    height: 100px; /* Ajusta el alto según sea necesario */
  }
}

/* Estilos para pantallas medianas (por ejemplo, tablets) */
@media (min-width: 769px) and (max-width: 1024px) {
  #id_permissions_to {
    height: 200px; /* Ajusta el alto según sea necesario */
  }
}

/* Estilos para pantallas grandes (por ejemplo, desktops) */
@media (min-width: 1025px) {
  #id_permissions_to {
    height: 300px; /* Ajusta el alto según sea necesario */
  }
}
@media (max-width: 768px) {
  #id_permissions_from {
    height: 100px; /* Ajusta el alto según sea necesario */
  }
}

/* Estilos para pantallas medianas (por ejemplo, tablets) */
@media (min-width: 769px) and (max-width: 1024px) {
  #id_permissions_from {
    height: 200px; /* Ajusta el alto según sea necesario */
  }
}

/* Estilos para pantallas grandes (por ejemplo, desktops) */
@media (min-width: 1025px) {
  #id_permissions_from {
    height: 300px; /* Ajusta el alto según sea necesario */
  }
}
</style>
{% endblock stylesheets %}
{% block content %}
<div class="container-fluid mt-4">
    <h1 class="h3 mb-4 text-gray-800">Modificar Grupo</h1>

    <form method="post" action="">
        {% csrf_token %}

        <div class="mb-3">
            <label for="group-name" class="form-label">Nombre del Grupo:</label>
            <input type="text" class="form-control" id="group-name" name="name" value="{{ form.instance.name }}" required>
        </div>

        <div class="form-row field-permissions">
            <label for="id_permissions" class="form-label">Permisos:</label>

            <div class="d-flex">
                <div class="col-5 mr-2">
                    <h5>Permisos Disponibles</h5>
                    <input type="text" placeholder="Filtrar" id="id_permissions_input" class="form-control mb-2">
                    <select multiple="multiple" id="id_permissions_from" class="form-control">
                        {% for permission in form.permissions.field.queryset %}
                            {% if permission not in form.instance.permissions.all %}
                                <option value="{{ permission.pk }}">{{ permission }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <button type="button" id="id_permissions_add_all_link" class="btn btn-sm btn-primary mt-2">Seleccionar todos</button>
                </div>

                <div class="col-1 d-flex flex-column justify-content-center align-items-center">
                    <button type="button" id="id_permissions_add_link" class="btn btn-sm btn-success mb-2">➔</button>
                    <button type="button" id="id_permissions_remove_link" class="btn btn-sm btn-danger">←</button>
                </div>

                <div class="col-5 ml-2">
                    <h5>Permisos Elegidos</h5>
                    <input type="text" placeholder="Filtrar" id="id_permissions_selected_input" class="form-control mb-2">
                    <select multiple="multiple" id="id_permissions_to" name="permissions" class="form-control">
                        {% for permission in form.instance.permissions.all %}
                            <option value="{{ permission.pk }}">{{ permission }}</option>
                        {% endfor %}
                    </select>
                    <button type="button" id="id_permissions_remove_all_link" class="btn btn-sm btn-secondary mt-2">Eliminar todos</button>
                </div>
            </div>
            <p class="mt-2">Mantenga presionado "Control" o "Comando" en una Mac, para seleccionar más de uno.</p>
        </div>

        <div class="d-flex justify-content-between mt-3">
            <a href="{% url 'shared:groupslist' %}" class="btn btn-secondary">Cancelar</a>
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </div>
    </form>
</div>
{% endblock content %}

{% block javascripts %}
<script>
$(document).ready(function() {
    // Botones de selección y eliminación
    $('#id_permissions_add_link').click(function(e) {
        e.preventDefault();
        $('#id_permissions_from option:selected').appendTo('#id_permissions_to');
    });

    $('#id_permissions_remove_link').click(function(e) {
        e.preventDefault();
        $('#id_permissions_to option:selected').appendTo('#id_permissions_from');
    });
    
    
    // Seleccionar todos
    $('#id_permissions_add_all_link').click(function(e) {
        e.preventDefault();
        $('#id_permissions_from option').appendTo('#id_permissions_to');
    });

    // Eliminar todos
    $('#id_permissions_remove_all_link').click(function(e) {
        e.preventDefault();
        $('#id_permissions_to option').appendTo('#id_permissions_from');
    });
    // Filtros para permisos disponibles y seleccionados
    $('#id_permissions_input').on('keyup', function() {
        var query = $(this).val().toLowerCase();
        $('#id_permissions_from option').each(function() {
            var text = $(this).text().toLowerCase();
            $(this).toggle(text.indexOf(query) > -1);
        });
    });

    $('#id_permissions_selected_input').on('keyup', function() {
        var query = $(this).val().toLowerCase();
        $('#id_permissions_to option').each(function() {
            var text = $(this).text().toLowerCase();
            $(this).toggle(text.indexOf(query) > -1);
        });
    });
    $('form').submit(function(e) {
        // Asegurarse de que todas las opciones en 'permissions_to' estén seleccionadas
        $('#id_permissions_to option').prop('selected', true);
    });
});
</script>
{% endblock javascripts %}