{% extends 'layout/base.html'%}

{% block title %} {{ title }} {% endblock %}
{% load static %}
{% load custom_filters %}
{% block stylesheets %}
<link href="https://cdn.datatables.net/v/bs5/dt-1.13.8/datatables.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
{% endblock stylesheets %}

{% block content %}
{% if messages %}
    <div class="alert-container position-fixed top-0 end-0 p-3" style="z-index: 1050;">
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    </div>
{% endif %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">{{ title }}</h4>
            </div>
            <div class="card-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 d-flex align-items-stretch">
                            <div class="card w-100">
                                <div class="card-body">
                                    <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
                                        <div class="card-body">
                                            {% if msg %}
                                                <span class="text-danger">{{ msg | safe }}</span>
                                            {% else %}
                                                
                                            {% endif %}  
                                            <div class="profile-container">
                                                <div class="table-responsive">
                                                    <table class="table table-striped" style="width:100%" id="data">
                                                        <thead>
                                                            <tr>
                                                                <th></th>
                                                                {% for header in headers %}
                                                                <th>{{ header }}</th>
                                                                {% endfor %}
                                                                <th>ESTADO</th>
                                                                <th>ACCIONES</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for obj in object_list %}
                                                            <tr><td></td>
                                                                {% for field in fields %}
                                                                <td>{{ obj|getattr_filter:field }}</td>
                                                                {% endfor %}
                                                                <td>
                                                                    <div class="form-check form-switch">
                                                                        <input class="form-check-input switch-estado" type="checkbox" data-id="{{ obj.pk }}" 
                                                                               {% if obj.activo %} checked {% endif %}>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    {% for action in actions %}
                                                                    <button class="btn btn-{{ action.color }} btn-xs Btn{{ action.name }}" data-id="{{ obj.pk }}" type="button">
                                                                        <i class="material-icons btn-xs" style="color: {{ action.color2 }};">{{ action.icon }}</i> {{ action.label }}
                                                                    </button>
                                                                    {% endfor %}
                                                                </td>
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                    <button type="button" class="btn btn-primary BtnAdd"><i>Añadir {{ entity }}</i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const switches = document.querySelectorAll('.switch-estado');
        
        switches.forEach((switchElem) => {
            switchElem.addEventListener('change', function () {
                const objId = this.getAttribute('data-id');
                const checked = this.checked;

                fetch(`{% url 'administrativo:toggle_estado' objId %}`, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({activo: checked})
                }).then(response => response.json())
                  .then(data => {
                    if (!data.success) {
                        alert('Error al cambiar el estado.');
                        // Revertir el cambio en el switch si hay error
                        this.checked = !checked;
                    }
                  });
            });
        });
    });
</script>
{% if url_toggle %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const switches = document.querySelectorAll('.switch-estado');
        if (switches.length === 0) {
            return;
        } else {
            switches.forEach((switchElem) => {
            switchElem.addEventListener('change', function () {
                const objId = this.getAttribute('data-id');  // Obtener ID del servicio
                if (!objId) {
                        return; // Omit the rest of the function if objId is falsy
                    }
                const url = `{% url url_toggle  0 %}`.replace('0', objId); // Generar URL para el servicio específico

                fetch(url, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',  // Agregar token CSRF para seguridad
                        'Content-Type': 'application/json'
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (!data.success) {
                        alert('Error al cambiar el estado.');
                        // Revertir el estado del switch si hay un error
                        this.checked = !this.checked;
                    } else {
                        console.log('Estado cambiado con éxito.');
                    }
                })
                .catch(error => {
                    alert('Hubo un error en la solicitud.');
                    // Revertir si hay fallo en la solicitud
                    this.checked = !this.checked;
                });
            });
        });
        }
        
    });
</script>
{% endif %}
<script>
    var table = new DataTable('#data', {
        language: {
            url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-CO.json',
        },
    });
    
    $('.BtnAdd').click(function() {
        {% for add in Btn_Add %}
            var url = "{% url add.url %}";
            var btn = $(this)[0];
            {% if add.modal %}
                loadModalAndHandleForm(btn, url);
            {% else %}
                location.href = url;
            {% endif %}
        {% endfor %}
    });

    {% for action in actions %}
    $('.Btn{{ action.name }}').click(function () {
        var id = $(this).attr('data-id');
        var url = "{% url action.url 0 %}".replace('0', id);
        var btn = $(this)[0];
        {% if action.modal %}
            loadModalAndHandleForm(btn, url);
        {% else %}
            location.href = url;
        {% endif %}
    });
    {% endfor %}
</script>

{% endblock javascripts %}
