<div class="modal fade" id="eliminarModal{{ x.id }}" tabindex="-1" aria-labelledby="eliminarModalLabel{{ x.id }}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eliminarModalLabel{{ x.id }}">Eliminar Contrato</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>¿Estás seguro de que deseas eliminar el contrato número "{{ x.id }}"?</p>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <a href="{% url 'RrHh:Borrar_Contratos' x.id %}" class="btn btn-danger">Eliminar</a>
      </div>
    </div>
  </div>
</div>
