{% extends 'layout/base.html'%}

{% block title %} {{ title }} {% endblock %} 

{%load static%}

{% block stylesheets %}
<link href="https://cdn.datatables.net/v/bs5/dt-1.13.8/datatables.min.css" rel="stylesheet">
<!-- importamos JQuery para datatable -->
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
{% endblock stylesheets %}

{% block content %}
<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title ">{{title}} </h4>
          <h6 class="card-subtitle mb-2 text-muted"><i class="material-icons btn-xs" >add</i> añadir</a></h6>        
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
              </div>
            </div>
          </div>
          <div class="table-responsive" >
            <table class="table table-striped" style="width:100%" id="data" >
              <thead class=" text-primary">
                  <th>
                    NUMERO DE CONTRATO
                  </th>
                  <th>
                    CEDULA EMPLEADO
                  </th>
                  <th>
                    NOMBRE EMPLEADO
                  </th>
                  <th>
                    CARGO
                  </th>
                  <th>
                    FECHA INICIO
                  </th>
                  <th>
                    FECHA FIN
                  </th>
                  <th>
                    TIPO DE CONTRATO
                  </th>
                  <th>
                    SALARIO
                  </th>
                  <th>
                    ESTADO
                  </th>
                  <th>
                    DETALLES
                  </th>
              </thead>
              <tbody>
                {% for x in object_list%}
                  <tr>
                    <td>
                      {{x.id}}
                    </td>
                    <td>
                      {{x.hoja_vida_FK.numero_identificacion}}
                    </td>
                    <td>
                      {{x.hoja_vida_FK.nombre}}
                    </td>
                    <td>
                      {{x.cargo}}
                    </td>
                    <td>
                      {{x.fecha_inicio}}
                    </td>
                    <td>
                        {{x.fecha_fin}}
                    </td>
                    <td>
                        {{x.tipo_contratoFK}}
                    </td>
                    <td>
                        {{x.salario}}
                    </td>
                    <td>
                        {{x.estado_FK}}
                    </td>
                    <td>
                      <button  type="button" data-id="{{x.id}}" id="BtnInv"  class="btn btn-secondary btn-xs BtnInv"><i class="material-icons">list</i></button>
                      <button  type="button" data-id="{{x.id}}" id="BtnEdit"  class="btn btn-info btn-xs BtnEdit"><i class="material-icons">edit</i></button>
                      <button  type="button" data-id="{{x.id}}" class="btn btn-danger btn-xs BtnDel" data-bs-toggle="modal" data-bs-target="#eliminarModal{{ x.id }}"><i class="material-icons">Borrar</i></button>
                      <button type="button" data-id="{{ x.id }}" class="btn btn-danger btn-xs BtnDel" data-bs-toggle="modal" data-bs-target="#eliminarModal{{ x.id }}">
                        <i class="material-icons">deleteajax</i>
                      </button>
                    </td>  
                  </tr>

                  {% include 'Contratos/Borrar_Contratos.html' %}
                  <div class="modal fade" id="eliminarModal{{ x.id }}" tabindex="-1" aria-labelledby="eliminarModalLabel{{ x.id }}" aria-hidden="true">
                    <!-- Contenido de la modal se cargará aquí -->
                  </div>
                {% endfor %}
              </tbody>
              <tfoot class=" text-primary">
                <th>
                    NUMERO DE CONTRATO
                  </th>
                  <th>
                    CEDULA EMPLEADO
                  </th>
                  <th>
                    NOMBRE EMPLEADO
                  </th>
                  <th>
                    CARGO
                  </th>
                  <th>
                    FECHA INICIO
                  </th>
                  <th>
                    FECHA FIN
                  </th>
                  <th>
                    TIPO DE CONTRATO
                  </th>
                  <th>
                    SALARIO
                  </th>
                  <th>
                    ESTADO
                  </th>
                  <th>
                    DETALLES
                  </th>
              </tfoot>
            </table>
            {% include 'Contratos/Crear_Contrato.html' %}
            <button type="button" id="BtnAdd" class="btn btn-info btn-xs BtnAdd"><i class="material-icons btn-xs" >add</i>Nuevo registro</button>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal" data-bs-whatever="{% url 'RrHh:Crear_Contratos' %}">Prueba con modal</button>
          </div>  
        </div>
      </div>
    </div>
  </div>
  
  
  {% endblock content %}
  
  {% block javascripts %}
  
  <!-- creamos script para datatable -->
  <script type="text/javascript">
  
    // DataTable_Script();
    var table = new DataTable('#data', {
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-CO.json',
            },
        });
        
    $('.BtnAdd').click(function () {
      var url = "{% url 'RrHh:Crear_Contratos' %}"; 
      location.href = url;
      
      });
        
    $('.BtnEdit').click(function () {   
      var id = $(this).attr('data-id');
      var url = "{% url 'RrHh:Editar_Contratos' 0 %}".replace('0', id); 
      location.href = "{% url 'RrHh:Editar_Contratos' 0 %}".replace('0', id); 
      // abrir_modal_edicion(url);
      
      });
      $('.BtnDel').click(function(){
        var contratoId = $(this).data('id');
        var modalId = '#eliminarModal' + contratoId;
        $.ajax({
          url: '/path/to/modal_eliminar_contrato.html',
          data: { contrato_id: contratoId },
          success: function(data) {
            $(modalId + ' .modal-content').html(data);
          }
        });
        // var myModal = document.getElementById('detalles');
        // var myInput = document.getElementById('myInput');

        // myModal.addEventListener('shown.bs.modal', function () {
        // myInput.focus();
        // });
    });
    var addModal = document.getElementById('addModal')
      addModal.addEventListener('show.bs.modal', function (event) {
        // Button that triggered the modal
        var button = event.relatedTarget
        // Extract info from data-bs-* attributes
        var recipient = button.getAttribute('data-bs-whatever')
        // If necessary, you could initiate an AJAX request here
        // and then do the updating in a callback.
        //
        // Update the modal's content.
        $.ajax({
          url: "{% url 'RrHh:Crear_Contratos1' %}",
          success: function(data) {
            addModal.querySelector('.modal-body').innerHTML = data;
          }
        });
        
        var modalTitle = addModal.querySelector('.modal-title')
        var modalBodyInput = addModal.querySelector('.modal-body input')

        modalTitle.textContent = 'New message to ' + recipient
        modalBodyInput.value = recipient
      })

    </Script>
  
  
  {% endblock javascripts %}