
<div class="card-body">
    <div style="padding-left: 20px; padding-top: 10px; padding-right: 20px; padding-bottom: 20px; height: 100%;">
        <div style="text-align: right;">
            <p style="margin-top: 50px; ">
                Acopi Yumbo, Valle del Cauca CO, {{fecha}}
            </p><br><br><br>
        </div>
        
        <p>Señor(a).<br>
            <b>{{nombres}} {{apellidos}}</b><br>
            {{tipo_doc}}. {{cedula}} </p>
            
            <p style="text-align: left;"><b><u>ASUNTO: NOTIFICACIÓN ACEPTACIÓN SOLICITUD DISFRUTE DE VACACIONES PERIODO {{year}}.</u></b></p>
            <p>Apreciado Sr(a). {{nombres}} {{apellidos}}.</p><br>
            <p style="text-align:justify ;">Reciba un cordial saludo,</p><br>
            <p style="text-align:justify ;">Hemos recibido su solicitud de vacaciones para el periodo en vigencia. En su solicitud, nos indica que desea disfrutar de {{dias}} días de vacaciones comprendidas entre el día {{fecha_inicio}} y {{fecha_final}}, ambos días incluidos. A lo cual y en motivo de la presente se le notifica de manera formal que desafortunadamente debemos denegar su solicitud hacia el disfrute de las vacaciones anuales correspondientes al periodo {{year}}, puesto que las fechas de disfrute solicitadas coinciden con periodos de mayor actividad debido al volumen de trabajo presentado en el cumplimiento de nuevos y antiguos proyectos; por tanto, no podrá gozar de las mismas en los días propuestos en su escrito y solicitud de fecha {{fecha_solicitud}}.</p><br>
            <p style="text-align:justify ;">Por consiguiente, le informamos que podrá hacer gozo de {{dias}} días de vacaciones correspondientes al periodo {{year}} entre el día {{fecha_inicio_alternativo}} y {{fecha_fin_alternativo}}, ambos días incluidos; así pues, su retorno a labores será efectivo el día {{fecha_inicio_laboral}}.</p><br><br><br>

            <p>Cordialmente,</p><br><br><br>

            <p><b>{{razon_social}}</b><br>
            {{representante}}<br>
            {{cargo}}</p>
    </div>
</div>