
            <div class="card-body">
                <div style="padding-left: 20px; padding-top: 10px; padding-right: 20px; padding-bottom: 20px; height: 100%;">
                    <div style="text-align: right;">
                        <p style="margin-top: 50px; ">
                            Acopi Yumbo, Valle del Cauca CO, {{fecha}}
                        </p><br><br><br>
                    </div>
                    
                    <p>Señor(a).<br>
                        <b>{{nombres}} {{apellidos}}</b><br>
                        {{tipo_doc}}. {{cedula}} </p>
                        
                        <p style="text-align: left;"><b><u>ASUNTO: NOTIFICACIÓN ACEPTACIÓN SOLICITUD DISFRUTE DE VACACIONES PERIODO {{year}}.</u></b></p>
                        <p>Apreciado Sr(a). {{nombres}} {{apellidos}}.</p><br>
                        <p>Reciba un cordial saludo,</p>
                        <p style="text-align:justify ;">Sirva la presente a fin de notificarle el reconocimiento y aceptación de los días solicitados de su periodo de vacaciones anuales correspondientes al año {{year}}, de acuerdo con las disposiciones legales vigentes. Por consiguiente, le informamos que podrá hacer gozo de {{dias}} días de vacaciones asociados a dicho periodo. Es reconfortante confirmar que su ciclo vacacional inicia el día {{fecha_inicio}} y culmina el día {{fecha_final}}, ambos días incluidos; así pues, su retorno a labores será efectivo el día {{fecha_inicio_laboral}}.</p>
                        <p style="text-align:justify ;">Sin más en particular, le deseamos el mayor disfrute de su periodo vacacional.</p><br><br><br>

                        <p>Cordialmente,</p><br><br><br>

                        <p><b>INDUSTRIAS ROMIL S.A.S</b><br>
                        Jhon Steven Milques Vargas<br>
                        Representante Legal Suplente</p>
                </div>
            </div>
        