{% extends 'layout/base.html'%}

{% block title %} {{ title }} {% endblock %} 

{%load static%}

{% block stylesheets %}
<link href="https://cdn.datatables.net/v/bs5/dt-1.13.8/datatables.min.css" rel="stylesheet">
<!-- importamos JQuery para datatable -->
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
{% endblock stylesheets %}

{% block content %}
<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title ">{{title}} </h4>
          <h6 class="card-subtitle mb-2 text-muted"><i class="material-icons btn-xs" >add</i> añadir</a></h6>        
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
              </div>
            </div>
          </div>
          <div class="table-responsive" >
            <table class="table table-striped" style="width:100%" id="data" >
              <thead class=" text-primary">
                  <th>
                    ID CARTA
                  </th>
                  <th>
                    COLABORADOR
                  </th>
                  <th>
                    TIPO DE CARTA
                  </th>
                  <th>
                    FECHA SOLICITADA
                  </th>
                  <th>
                    CREADO POR
                  </th>
                  <th>
                    ACCIONES
                  </th>
              </thead>
              <tbody>
                {% for x in object_list%}
                  <tr>
                    <td>
                      {{x.IdDocumentos}}
                    </td>
                    <td>
                      {{x.propietario_doc}}
                    </td>
                    <td>
                      {{x.Tipo_Formato_CartaFK}}
                    </td>
                    <td>
                      {{x.created_at}}
                    </td>
                    <td>
                      {{x.user_created}}
                    </td>
                    <td>
                      <button  type="button" data-id="{{x.IdPermiso}}" id="BtnEdit"  class="btn btn-success btn-xs BtnEdit"><i class="material-icons">check</i>Gestionar</button>
                      <!-- el siguiente boton solo debe aparecer si es administrador -->
                      <!-- <button  type="button" data-id="{{x.id}}" id="BtnDel" class="btn btn-danger btn-xs BtnDel" ><i class="material-icons">delete</i></button> -->
                    </td>  
                  </tr>
                  
                  <div class="modal fade" id="eliminarModal{{ x.id }}" tabindex="-1" aria-labelledby="eliminarModalLabel{{ x.id }}" aria-hidden="true">
                    <!-- Contenido de la modal se cargará aquí -->
                  </div>
                {% endfor %}
              </tbody>
              <tfoot class=" text-primary">
                <th>
                    ID CARTA
                  </th>
                  <th>
                    COLABORADOR
                  </th>
                  <th>
                    TIPO DE CARTA
                  </th>
                  <th>
                    FECHA SOLICITADA
                  </th>
                  <th>
                    CREADO POR
                  </th>
                  <th>
                    ACCIONES
                  </th>
              </tfoot>
            </table>
            
            <button type="button" id="BtnAdd" class="btn btn-info btn-xs BtnAdd"><i class="material-icons btn-xs" >add</i>Nuevo registro</button>
          </div>  
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="addModal" role="dialog" aria-haspopup="true"></div>
  
  
  {% endblock content %}
  
  {% block javascripts %}
  
  <!-- creamos script para datatable -->
  <script type="text/javascript">
  
    // DataTable_Script();
    var table = new DataTable('#data', {
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-CO.json',
            },
        });
        
    $('.BtnAdd').click(function () {
      var url = "{% url 'RrHh:Crear_Cartas' %}"; 
      location.href = url;
    //   // var myModal = new bootstrap.Modal(document.getElementById('addModal'), {
    //   //   keyboard: false      
    //   // });
    //   // myModal.show();
    //   // // $('#addModal').attr('href', url);
    //   // $('#addModal').Modal('show',url);
    //   // });
    //   addModal.addEventListener('shown.bs.modal', () => {
    //   addModal.focus()
    // })

      
    });

    $('.BtnEdit').click(function () {   
      var id = $(this).attr('data-id');
      var url = "{% url 'RrHh:Editar_Solicitud' 0 %}".replace('0', id); 
      location.href = url; 
      });

      $('.BtnDel').click(function(){
        var id = $(this).attr('data-id');
        var url = "{% url 'RrHh:Borrar_Contratos' 0 %}".replace('0', id); 
        location.href = "{% url 'RrHh:Borrar_Contratos' 0 %}".replace('0', id);
    });

    </Script>
  
  
  {% endblock javascripts %}