{% extends 'layout/base.html'%}

{%block title%}{{ title }}{%endblock%}
{% block stylesheets %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYL/HkXjOoSh8an/6JWnvmzkhS4HRzYRwZvnmhPxYBXAb1hcqXdvigEFbEfjf1n+ZUyVTRFVSNRQcf2tPzxQw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r9uboCVPPLMTiCT8Y8XdHHBHhVxX3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% endblock stylesheets %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">{{title}} </h4>
            </div>
            <div class="card-body">
                <div style="padding-left: 20px; padding-top: 10px; padding-right: 20px; padding-bottom: 20px; height: 100%;">
                    <div style="text-align: right;">
                        <p style="margin-top: 50px; ">
                            Acopi Yumbo, Valle del Cauca CO, ${fecha}
                        </p>
                    </div>
                    
                    <p>Señor(a).<br>
                        <b>BANCO AV VILLAS S.A.</b><br>
                        CC. XXXXXXXXXXX</p>
                        
                        <p style="text-align: left;"><b><u>ASUNTO: NEGACIÓN SOLICITUD DISFRUTE DE VACACIONES PERIODO XXXX.</u></b></p>
                        <p>Apreciado Sr(a). ${nombre}</p><br>
						<p>Reciba un cordial saludo,</p><br><br>
						<p>Hemos recibido su solicitud de vacaciones para el periodo en vigencia. En su solicitud, nos indica que desea disfrutar de 15 días de vacaciones comprendidas entre el día XX de (Mes en letra. Ej.: Enero) y XX de (Mes en letra. Ej.: Enero), ambos días incluidos. A lo cual y en motivo de la presente se le notifica de manera formal que desafortunadamente debemos denegar su solicitud hacia el disfrute de las vacaciones anuales correspondientes al periodo 2.02x, puesto que las fechas de disfrute solicitadas coinciden con periodos de mayor actividad debido al volumen de trabajo presentado en el cumplimiento de nuevos y antiguos proyectos; por tanto, no podrá gozar de las mismas en los días propuestos en su escrito y solicitud de fecha (Dia en letra. Ej.: Lunes) (Dia) de (Mes en letra. Ej.: Enero) de 2.02x.<br>
                            Por consiguiente, le informamos que podrá hacer gozo de XX días de vacaciones correspondientes al periodo 2.02x entre el día XX de (Mes en letra. Ej.: Enero) y XX de (Mes en letra. Ej.: Enero), ambos días incluidos; así pues, su retorno a labores será efectivo el día XX de (Mes en letra. Ej.: Enero) del año en vigencia.<br>
                            Sin más en particular, le deseamos el mayor disfrute de su periodo vacacional.</p>

                        <p>Cordialmente,</p><br><br><br>

                        <p><b>INDUSTRIAS ROMIL S.A.S</b><br>
                        Jhon Steven Milques Vargas<br>
                        CC. 1.151.960.992</p>
                </div>
            </div>
        </div>
    </div>
</div>

    {% endblock content %}
    {% block javascripts %}
    
    
    {% endblock javascripts %}