{% extends 'layout/base.html'%}

{%block title%}{{ title }}{%endblock%}
{% block stylesheets %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYL/HkXjOoSh8an/6JWnvmzkhS4HRzYRwZvnmhPxYBXAb1hcqXdvigEFbEfjf1n+ZUyVTRFVSNRQcf2tPzxQw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r9uboCVPPLMTiCT8Y8XdHHBHhVxX3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% endblock stylesheets %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">{{title}} </h4>
            </div>
            <div class="card-body">
                <div style="padding-left: 20px; padding-top: 10px; padding-right: 20px; padding-bottom: 20px; height: 100%;">
                    <div style="text-align: right;">
                        <p style="margin-top: 50px; ">
                            Acopi Yumbo, Valle del Cauca CO, ${fecha}
                        </p>
                    </div>
                    
                    <p>Señor(a).<br>
                        <b>NOMBRE</b><br>
                        CC. XXXXXXXXXXX</p>
                        
                        <p style="text-align: left;"><b><u>ASUNTO: TERMINACION DE CONTRATO DE TRABAJO.</u></b></p>
                        <p>Apreciado Sr(a). ${nombre}</p><br>
						<p>La presente es emitida a fin de notificarle formalmente en primera instancia que, en virtud concedida como empleador sobre el lapso de vigencia pactado en el contrato individual de trabajo celebrado con usted, se encuentra próximo a vencer; en secuencia, la empresa ha decidido No darlo por prorrogado. Por lo anterior, le informamos que se da por terminado su contrato de trabajo, de conformidad con el artículo 64 del código sustantivo de trabajo.</p><br><br><br>
						<p>Dicha decisión será efectiva a partir del día (Dia en letra. Ej.: Lunes) (#Dia) de (Mes en letra. Ej.: Enero) de 2.02x, de modo que, terminada la jornada laboral podrá solicitar su liquidación de prestaciones sociales, salario adecuado y derechos a favor conforme a lo enunciado en el código sustantivo de trabajo. <br><br>
                            De ante mano agradecemos el tiempo de labor prestada en nuestra compañía y le deseamos éxito y prosperidad en sus próximas actividades.</p><br><br>

                        <p><b>Cordialmente,</b></p><br><br><br>

                        <p><b>INDUSTRIAS ROMIL S.A.S</b><br>
                        Jhon Steven Milques Vargas<br>
                        Gerente Administrativo y Operativo</p>
                </div>
            </div>
        </div>
    </div>
</div>

    {% endblock content %}
    {% block javascripts %}
    
    
    {% endblock javascripts %}