
<p style="text-align: justify; color: blue;">
Acopi Yumbo, Valle del Cauca CO, (Dia en letra. Ej.: Lunes) (#Dia) de (Mes en letra. Ej.: Enero) de 2.02x
</p>

<p>Señor(a).</p>

<p>nombres {{ x.nombre }} {{ x.apellido }}</p>
{{x.tipo_documento.Sigla}} {{x.numero_identificacion}}
	
ASUNTO: LLAMADO DE ATENCIÓN. 

Apreciado(a) Sr(a). {{ x.nombre }} {{ x.apellido }}.
Reciba un cordial saludo,

Una vez agotado el procedimiento del Art. 115 del CST mediante la diligencia de descargos llevada a cabo el día (#Dia) de (Mes en letra. Ej.: Enero) de 2.02x, en la cual quedo clara su responsabilidad sobre (Descripción Acción Irregular Cometida); INDUSTRIAS ROMIL S.A.S, ha tomado la decisión de hacerle un LLAMADO DE ATENCION, con el único propósito de que en lo sucesivo no se presente(n) el(los) hecho(s) ocurrido el día (#Dia) de (Mes en letra. Ej.: Enero) de 2.02x. 
Estamos totalmente seguros de que contamos con su compromiso para con la empresa siendo conocedores de su don de gentes, su capacidad de trabajo y profesionalismo.





Cordialmente,
</p>





