{% extends 'layout/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic" rel="stylesheet">
<link rel="stylesheet" href="{% static 'assets/css/HV.style.css' %}">

{% endblock stylesheets %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <div class="col-md-12 text-right">
                    <button type="button" class="btn-close BtnCancel col-md-2"></button>
                </div>
                <h4 class="card-title col-md-8">{{ title }}</h4>            
            </div>
            <div class="card-body">
                
                
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}

{% endblock javascripts %}
